baud: 115200
port: /dev/ttyUSB0
controllers: {
  arm_controller: {
    type: joint_controller,
    joints: [rf_hip, rf_knee, rf_toe, rm_hip, rm_knee, rm_toe, rb_hip, rb_knee, rb_toe, lf_hip, lf_knee, lf_toe, lm_hip, lm_knee, lm_toe, lb_hip, lb_knee, lb_toe],
    publish_joint_states: true,
    publish_rate: 10
  }
}

joints: {

  rf_hip  : {channel: 6, max_angle: 1.57, min_angle: -1.57, scale: 590.44, offset_angle: 0.0, default_angle: -0.97, initialize: true, invert: true}, 
  rf_knee : {channel: 7, max_angle: 1.92, min_angle: -0.785, scale: 590.44, offset_angle: 0.0, default_angle: -0.97, initialize: true, invert: true}, 
  rf_toe  : {channel: 8, max_angle: 1.48, min_angle: -2.09, scale: 590.44, offset_angle: 0.0, default_angle: -0.97, initialize: true, invert: true}, 

  rm_hip  : {channel: 3, max_angle: 1.57, min_angle: -1.57, scale: 590.44, offset_angle: 0.0, default_angle: -0.97, initialize: true, invert: true}, 
  rm_knee : {channel: 4, max_angle: 1.92, min_angle: -0.785, scale: 590.44, offset_angle: 0.0, default_angle: -0.97, initialize: true, invert: true}, 
  rm_toe  : {channel: 5, max_angle: 1.48, min_angle: -2.09, scale: 590.44, offset_angle: 0.0, default_angle: -0.97, initialize: true, invert: true}, 
  
  rb_hip  : {channel: 0, max_angle: 1.57, min_angle: -1.57, scale: 590.44, offset_angle: 0.0, default_angle: -0.97, initialize: true, invert: true}, 
  rb_knee : {channel: 1, max_angle: 1.92, min_angle: -0.785, scale: 590.44, offset_angle: 0.0, default_angle: -0.97, initialize: true, invert: true}, 
  rb_toe  : {channel: 2, max_angle: 1.48, min_angle: -2.09, scale: 590.44, offset_angle: 0.0, default_angle: -0.97, initialize: true, invert: true}, 

  lf_hip  : {channel: 22, max_angle: 1.57, min_angle: -1.57, scale: 590.44, offset_angle: 0.0, default_angle: -0.97, initialize: true, invert: true}, 
  lf_knee : {channel: 23, max_angle: 1.92, min_angle: -0.785, scale: 590.44, offset_angle: 0.0, default_angle: -0.97, initialize: true, invert: true}, 
  lf_toe  : {channel: 24, max_angle: 1.48, min_angle: -2.09, scale: 590.44, offset_angle: 0.0, default_angle: -0.97, initialize: true, invert: true}, 

  lm_hip  : {channel: 19, max_angle: 1.57, min_angle: -1.57, scale: 590.44, offset_angle: 0.0, default_angle: -0.97, initialize: true, invert: true}, 
  lm_knee : {channel: 20, max_angle: 1.92, min_angle: -0.785, scale: 590.44, offset_angle: 0.0, default_angle: -0.97, initialize: true, invert: true}, 
  lm_toe  : {channel: 21, max_angle: 1.48, min_angle: -2.09, scale: 590.44, offset_angle: 0.0, default_angle: -0.97, initialize: true, invert: true}, 

  lb_hip  : {channel: 16, max_angle: 1.57, min_angle: -1.57, scale: 590.44, offset_angle: 0.0, default_angle: -0.97, initialize: true, invert: true}, 
  lb_knee : {channel: 17, max_angle: 1.92, min_angle: -0.785, scale: 590.44, offset_angle: 0.0, default_angle: -0.97, initialize: true, invert: true}, 
  lb_toe  : {channel: 18, max_angle: 1.48, min_angle: -2.09, scale: 590.44, offset_angle: 0.0, default_angle: -0.97, initialize: true, invert: true}
  
}
